<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <link
      rel="shortcut icon"
      href="https://image.flaticon.com/icons/svg/3285/3285734.svg"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand nav-itm" href="/">
            <img src="https://image.flaticon.com/icons/svg/3285/3285734.svg" />
            DAILY JOURNAL
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a class="nav-itm" href="/">HOME</a></li>
          <li id="about"><a class="nav-itm" href="/about">ABOUT US</a></li>
          <li id="contact">
            <a class="nav-itm" href="/contact">CONTACT US</a>
          </li>
          <li id="contact">
            <a class="nav-itm" href="/compose">COMPOSE</a>
          </li>

      </div>
    </nav>

    <body>
      <div class="container"></div>
    </body>
  </head>
</html>
